NEXT_PUBLIC_API_BASEURL=
NEXT_PUBLIC_SUBGRAPH_ARBITRUM_SEPOLIA_URL=

NEXT_PUBLIC_ARBITRUM_SEPOLIA_STAKING=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_REWARDS_DISTRIBUTION=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_POOL_ADDRESSES_PROVIDER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_POOL=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_POOL_CONFIGURATOR=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_ORACLE=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_ACL_MANAGER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_ACL_ADMIN=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_AAVE_PROTOCOL_DATA_PROVIDER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_ATOKEN_IMPL=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_VARIABLE_DEBT_IMPL=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_TREASURY=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_INCENTIVES_CONTROLLER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_DEFAULT_INTEREST_RATE_STRATEGY=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_WALLET_BALANCE_PROVIDER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_UI_POOL_DATA_PROVIDER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_UI_INCENTIVE_DATA_PROVIDER=

NEXT_PUBLIC_MONAD_POOL_ADDRESSES_PROVIDER=
NEXT_PUBLIC_MONAD_POOL=
NEXT_PUBLIC_MONAD_POOL_CONFIGURATOR=
NEXT_PUBLIC_MONAD_ORACLE=
NEXT_PUBLIC_MONAD_ATOKEN_IMPL=
NEXT_PUBLIC_MONAD_VARIABLE_DEBT_IMPL=
NEXT_PUBLIC_MONAD_TREASURY=
NEXT_PUBLIC_MONAD_INCENTIVES_CONTROLLER=
NEXT_PUBLIC_MONAD_DEFAULT_INTEREST_RATE_STRATEGY=
NEXT_PUBLIC_MONAD_CONFIG_ENGINE=
NEXT_PUBLIC_MONAD_ACL_MANAGER=
NEXT_PUBLIC_MONAD_EMISSION_MANAGER=
NEXT_PUBLIC_MONAD_K613_PROTOCOL_DATA_PROVIDER=
