NEXT_PUBLIC_API_BASEURL=
NEXT_PUBLIC_SUBGRAPH_ARBITRUM_SEPOLIA_URL=

NEXT_PUBLIC_ARBITRUM_SEPOLIA_STAKING=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_REWARDS_DISTRIBUTION=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_LENDING_POOL_ADDRESS_PROVIDER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_LENDING_POOL=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_WETH_GATEWAY=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_WALLET_BALANCE_PROVIDER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_UI_POOL_DATA_PROVIDER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_UI_INCENTIVE_DATA_PROVIDER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_L2_ENCODER=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_COLLECTOR=

NEXT_PUBLIC_BASE_SEPOLIA_LENDING_POOL_ADDRESS_PROVIDER=
NEXT_PUBLIC_BASE_SEPOLIA_LENDING_POOL=
NEXT_PUBLIC_BASE_SEPOLIA_WETH_GATEWAY=
NEXT_PUBLIC_BASE_SEPOLIA_WALLET_BALANCE_PROVIDER=
NEXT_PUBLIC_BASE_SEPOLIA_UI_POOL_DATA_PROVIDER=
NEXT_PUBLIC_BASE_SEPOLIA_UI_INCENTIVE_DATA_PROVIDER=
NEXT_PUBLIC_BASE_SEPOLIA_L2_ENCODER=

NEXT_PUBLIC_PROTO_FUJI_LENDING_POOL_ADDRESS_PROVIDER=
NEXT_PUBLIC_PROTO_FUJI_LENDING_POOL=
NEXT_PUBLIC_PROTO_FUJI_WETH_GATEWAY=
NEXT_PUBLIC_PROTO_FUJI_FAUCET=
NEXT_PUBLIC_PROTO_FUJI_WALLET_BALANCE_PROVIDER=
NEXT_PUBLIC_PROTO_FUJI_UI_POOL_DATA_PROVIDER=
NEXT_PUBLIC_PROTO_FUJI_UI_INCENTIVE_DATA_PROVIDER=

